<div class="container">
<o-form-container breadcrumb="yes" breadcrumb-label-columns="name" breadcrumb-separator=", " class="fill-form">
      <o-form #form attr="Investor_form_edit" 
        service="Investor" 
        entity="Investor" 
        fxLayout="column" 
        show-header="yes" 
        header-actions="R;I;U;D"
        #oDetailForm keys="id" 
        keys-sql-types="INTEGER" 
        show-header-navigation="yes"
        (onDataLoaded)="onDataLoaded($event)">

  <o-row attr="row1" layout-align="start stretch">
    <div fxLayout="row wrap" fxLayoutAlign="start start" fxFlex fxLayoutGap="14px">
      
      <o-text-input #name attr="name" label=" name*" enabled="yes" required="yes" fxFlex="20%" class="form-field"></o-text-input>
      
      <o-text-input #email attr="email" label="email" enabled="yes" required="no" fxFlex="20%" class="form-field"></o-text-input>
      
      <o-integer-input #id attr="id" label="id" type="integer" editable="no" required="no" ></o-integer-input>
      
    </div>
  </o-row>
      
      <mat-tab-group fxFill>
        
        <mat-tab label="PORTFOLIO-investor_id">
    <div layout-padding>
      <o-table 
        attr="PortfolioTable" 
        service="Portfolio" 
        entity="Portfolio" 
        keys="id"
        parent-keys="investor_id:id"
        columns="id;investor_id;stock_id;shares_owned"  
        horizontal-scroll="yes"
        detail-form-route="Portfolio" 
        edit-form-route="Portfolio"
        visible-columns="id;investor_id;stock_id;shares_owned"  
        sort-columns="id" 
        query-rows="25" 
        quick-filter="yes"
        row-height="medium" 
        select-all-checkbox="true" 
        pageable="yes"  
        auto-adjust="true" 
        virtual-scroll="yes" 
        insert-button="yes" 
        delete-button="yes" 
        fixed-header="true" 
        class="vertical-padding-8"
        edition-mode="dblclick" 
        horizontal-scroll="yes" class="fill-form">
        
          <o-table-column #id attr="id" title=" id*" type="integer" editable="no" required="no" content-align="center"></o-table-column>
        
          <o-table-column attr="investor_id" title="investor_id">
    <o-table-cell-renderer-service attr="investor_id" 
        service="Investor" entity="InvestorType" columns="id;name"
        parent-keys="id:investor_id"
        value-column="name" keys="investor_id"
        visible-columns="name" separator=" - " width="680px">
    </o-table-cell-renderer-service>
</o-table-column>
        
          <o-table-column attr="stock_id" title="stock_id">
    <o-table-cell-renderer-service attr="stock_id" 
        service="Stock" entity="StockType" columns="id;name"
        parent-keys="id:stock_id"
        value-column="name" keys="stock_id"
        visible-columns="name" separator=" - " width="680px">
    </o-table-cell-renderer-service>
</o-table-column>
        
          <o-table-column #shares_owned attr="shares_owned" title="shares_owned" type="real" min-decimal-digits="2" max-decimal-digits="4" min="0" max="1000000.0000" content-align="center"></o-table-column>
        
        <o-table-paginator page-size-options="25;50;100"></o-table-paginator>
      </o-table>
    </div>
</mat-tab>
        
        <mat-tab label="TRANSACTION-investor_id">
    <div layout-padding>
      <o-table 
        attr="TransactionTable" 
        service="Transaction" 
        entity="Transaction" 
        keys="id"
        parent-keys="investor_id:id"
        columns="id;investor_id;stock_id;datetime;transaction_type;shares;price_per_share"  
        horizontal-scroll="yes"
        detail-form-route="Transaction" 
        edit-form-route="Transaction"
        visible-columns="id;investor_id;stock_id;datetime;transaction_type;shares;price_per_share"  
        sort-columns="id" 
        query-rows="25" 
        quick-filter="yes"
        row-height="medium" 
        select-all-checkbox="true" 
        pageable="yes"  
        auto-adjust="true" 
        virtual-scroll="yes" 
        insert-button="yes" 
        delete-button="yes" 
        fixed-header="true" 
        class="vertical-padding-8"
        edition-mode="dblclick" 
        horizontal-scroll="yes" class="fill-form">
        
          <o-table-column #id attr="id" title=" id*" type="integer" editable="no" required="no" content-align="center"></o-table-column>
        
          <o-table-column attr="investor_id" title="investor_id">
    <o-table-cell-renderer-service attr="investor_id" 
        service="Investor" entity="InvestorType" columns="id;name"
        parent-keys="id:investor_id"
        value-column="name" keys="investor_id"
        visible-columns="name" separator=" - " width="680px">
    </o-table-cell-renderer-service>
</o-table-column>
        
          <o-table-column attr="stock_id" title="stock_id">
    <o-table-cell-renderer-service attr="stock_id" 
        service="Stock" entity="StockType" columns="id;name"
        parent-keys="id:stock_id"
        value-column="name" keys="stock_id"
        visible-columns="name" separator=" - " width="680px">
    </o-table-cell-renderer-service>
</o-table-column>
        
          <o-table-column #datetime attr="datetime" title="datetime" editable="no" required="yes" content-align="left"></o-table-column>
        
          <o-table-column #transaction_type attr="transaction_type" title="transaction_type" editable="no" required="yes" content-align="left"></o-table-column>
        
          <o-table-column #shares attr="shares" title="shares" type="real" min-decimal-digits="2" max-decimal-digits="4" min="0" max="1000000.0000" content-align="center"></o-table-column>
        
          <o-table-column #price_per_share attr="price_per_share" title="price_per_share" type="real" min-decimal-digits="2" max-decimal-digits="4" min="0" max="1000000.0000" content-align="center"></o-table-column>
        
        <o-table-paginator page-size-options="25;50;100"></o-table-paginator>
      </o-table>
    </div>
</mat-tab>
        
        <mat-tab label="WATCHLIST-investor_id">
    <div layout-padding>
      <o-table 
        attr="WatchlistTable" 
        service="Watchlist" 
        entity="Watchlist" 
        keys="id"
        parent-keys="investor_id:id"
        columns="id;investor_id;stock_id"  
        horizontal-scroll="yes"
        detail-form-route="Watchlist" 
        edit-form-route="Watchlist"
        visible-columns="id;investor_id;stock_id"  
        sort-columns="id" 
        query-rows="25" 
        quick-filter="yes"
        row-height="medium" 
        select-all-checkbox="true" 
        pageable="yes"  
        auto-adjust="true" 
        virtual-scroll="yes" 
        insert-button="yes" 
        delete-button="yes" 
        fixed-header="true" 
        class="vertical-padding-8"
        edition-mode="dblclick" 
        horizontal-scroll="yes" class="fill-form">
        
          <o-table-column #id attr="id" title=" id*" type="integer" editable="no" required="no" content-align="center"></o-table-column>
        
          <o-table-column attr="investor_id" title="investor_id">
    <o-table-cell-renderer-service attr="investor_id" 
        service="Investor" entity="InvestorType" columns="id;name"
        parent-keys="id:investor_id"
        value-column="name" keys="investor_id"
        visible-columns="name" separator=" - " width="680px">
    </o-table-cell-renderer-service>
</o-table-column>
        
          <o-table-column attr="stock_id" title="stock_id">
    <o-table-cell-renderer-service attr="stock_id" 
        service="Stock" entity="StockType" columns="id;name"
        parent-keys="id:stock_id"
        value-column="name" keys="stock_id"
        visible-columns="name" separator=" - " width="680px">
    </o-table-cell-renderer-service>
</o-table-column>
        
        <o-table-paginator page-size-options="25;50;100"></o-table-paginator>
      </o-table>
    </div>
</mat-tab>
        
      </mat-tab-group>
      
    </o-form>
  </o-form-container>
</div>